<br>
<center>
<table>
  <tr>
    <td>Speaker</td>
    <td>Donald Trump</td>
  </tr>
  <tr>
    <td>Statement</td>
    <td>The last quarter, it was just announced, our gross domestic product was below zero. Who ever heard of this? It's never below zero.</td>
  </tr>
  <tr>
    <td>Context</td>
    <td>Presidential announcement speech</td>
  </tr>
  <tr>
    <td>Justification</td>
    <td> According to the Bureau of Economic Analysis and National Bureau of Economic Research, the growth in the gross domestic product has been below zero 42 times over 68 years. That's a lot more than “never.” We rate this claim Pants on Fire!</td>
  </tr>
  <tr>
    <td>Label</td>
    <td>Pants on Fire</td>
  </tr>
</table>
</center>