    <!-- pie-charts Section -->
    <section id="intro" class="style_sec1 container content-section text-center pie-charts">
        <div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<center><h1>Getting started</h1></center>
					<p>Lately, the world has witnessed a growing epidemic of fake news. In the current era of social media and instant connectivity, the impact of fake news is greater than ever. Not only does it pose a threat to the integrity of journalism, it also creates disturbances and uncertainties in the political world. What's alarming is when people believe what they read, and act upon it. For these reasons, the spotlight needs to be set on fake news. The LIAR dataset for fake news detection, created by William Yang Wang at the University of California in Santa Barbara, will be used in this Data Story to study the world of fake news in the political scene of America. Let's dive in, shall we?</p>
					<center><h4>The liar dataset</h4></center>
					<div class="row">
						<div class="column-large">
							<div class="col-lg-8 col-lg-offset-2">
								<p>As defined by its author, the LIAR dataset is a "new benchmark dataset for fake news detection". It consists of almost 13'000 short statements from various contexts made between 2007 and 2016. The statements have been manually labeled for truthfulness, topic, context, speaker, state, and party and are well distributed over these different features. To illustrate that, the table below shows as an example a statement from Donald Trump along with its features.</p>
							</div>
						</div>
						<div class="column-large">
							{% include graphs/table.html %}
						</div>
					</div>
					<center><h4>Warming up</h4></center>
					<p>To warm up and get more familiar with the data, we will start by vizualizing how the statements are spread over the different features. For this purpose, the 6 pie charts below show the distribution of statements for each features with each time the 10 most frequent item (except for the label as there are only 6 distinct labels). While for the label and the party, most of the statements fall into the most frequent categories, it appears that it is not the case for the other features, which makes total sense as there are by far more speakers than there are parties for instance.</p>
				</div>
		</div>
		<div class="row">
            <div class="column-pie-chart">
				{% include graphs/piechart_label.html %}
			</div>
			<div class="column-pie-chart">
				{% include graphs/piechart_speaker.html %}
			</div>
			<div class="column-pie-chart">
				{% include graphs/piechart_subject.html %}
			</div>
        </div>
		<div class="row">
            <div class="column-pie-chart">
				{% include graphs/piechart_party.html %}
			</div>
			<div class="column-pie-chart">
				{% include graphs/piechart_profession.html %}
			</div>
			<div class="column-pie-chart">
				{% include graphs/piechart_context.html %}
			</div>
        </div>
		<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<center><p>If you wish to get to know more about the dataset before moving on to the analysis per se, the link below will lead to an interactive widget which shows the number of statements for all labels individually and for any specified combination of features.</p></center>
					<center><a href="https://mybinder.org/v2/gh/GjemsVoldRahm/widget/master?filepath=Project.ipynb"><img src="https://mybinder.org/badge_logo.svg" title="Widget Link" width="20%" /></a></center>
				</div>
		</div>
    </section>