    <!-- dvsr Section -->
    <section id="dvsr" class="style_sec1 container content-section text-center">
        <div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<center><h1>Democrats & Republicans</h1>
				<h2><font color="pink">the everlasting love-story</font></h2></center>
			</div>
		</div>
		<div class="row">
			<div class="column-large">
				<img src="img/venn.svg" title="Venn diagramm: Democrat vs Republican" width="100%" />
				<div class="col-lg-8 col-lg-offset-2">
					<p>asdcsacsxc</p>
				</div>
			</div>
			<div class="column-small">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>Most important topics for the parties</h4>
					<p>The Venn diagram compares subjects addressed by Democrats and Republicans. Naturally, most subjects are addressed by both parties, but there are some distinguishments. There are 5 665 statements by the Republicans, and none of them discuss the military, terrorism, or workers. Similarly, there are 4 137 statements by Democrats, and none of them concerns abortion, job-accomplishments, or criminal justice. Some of these subjects represent quite controversial issues, where the Democrats and Republicans take different stands. The following are some broadly generalized opinions, and it should be noted that there are naturally many politicians within each party who have different and more nuanced positions on these issues.</p>
					<p>While Republicans prefer increasing military spending, and have a higher tendency to employ the military option, Democrats prefer lower increases in military spending, and are comparatively more reluctant to use military force. 
					<p>In general, Democrats support abortion rights and want to keep elective abortions legal. Republicans, on the other hand, believe abortions should not be legal.</p>
					<p>Whereas Democrats favor increase in the minimum wage to help workers, Republicans oppose raising the minimum wage because it would hurt businesses.</p>
				</div>
			</div>
        </div>
		<div class="row">
			<div class="column-large-hv">
				{% include graphs/graph.html %}
				<div class="col-lg-8 col-lg-offset-2">
					<p><font color="#fff">asdcsacsxc</font></p>
				</div>
			</div>
			<div class="column-small">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>The main players of the game</h4>
					<p>We want to take a closer look at the main players of the game. The circle-shaped graph shows the relationship between the 20 politicians with the highest number of pants-on-fire and false statements. Each arc represent a lie made by one speaker (the source) about another speaker (the target). The four main players are Barack Obama (Democrat), Donald Trump (Republican), Hillary Clinton (Democrat), and Mitt Romney (Republican). These are names we know well. Barack Obama, former President of the U.S, ran against Mitt Romney in the 2012 presidential election; Donald Trump, current President of the U.s., ran against Hillary Clinton in the 2012 presidential election.</p>
					<p>It's interesting to observe that the majority of Donald Trumps' lies is directed towards Hillary Clinton, his opposing candidate, and that there are more than twice as many lies going in this direction, than the other way around. However, it should be noted that the majority of Clinton's lies, although less in numbers, are also directed towards her opposing candidate, Trump. This is perhaps to be expected, as politicians are known to demonize their opponents, especially with upcoming elections. The same pattern is observable with regard to Mitt Romney; most of his lies are discussing Barack Obama. Obama's lies, however, are more evenly distributed, and compared to how many lies he's the target of, he hasn't really contributed with that many himself. It's natural that he's the subject of the most lies, as he was the sitting President for almost the entire time frame of the statements.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column-large">
				<img src="img/network_DR.png" title="Network: Democrat vs Republican" width="100%" />
				<div class="col-lg-8 col-lg-offset-2">
					<p>asdcsacsxc</p>
				</div>
			</div>
			<div class="column-small">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>The main players of the lying game</h4>
					<p>Some text.</p>
				</div>
			</div>
		</div>
    </section>