    <!-- dvsr Section -->
    <section id="dvsr" class="style_sec1 container content-section text-center">
        <div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<center><h1>Democrats & Republicans</h1>
				<h2><font color="pink">the everlasting love story</font></h2></center>
			</div>
		</div>
		<div class="row">
			<div class="column-large">
				<img src="img/venn.svg" title="Venn diagramm: Democrat vs Republican" width="100%" />
				<div class="col-lg-8 col-lg-offset-2">
					<p style="line-height:1"><font size="-0.5" color="dimgray">The Venn diagram shows the twenty most frequently discussed subjects for Democrats (blue) and Republicans (red). Most subjects are of shared interest (grey).</p></font>
				</div>
			</div>
			<div class="column-small">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>Most important topics for the parties</h3>
					<p>The Venn diagram compares the twenty subjects most frequently addressed by Democrats and Republicans respectively. Naturally, most subjects are of high interest to both parties, but there are some distinguishments. The <b><font color="blue">military</font></b>, <b><font color="blue">terrorism</font></b>, and <b><font color="blue">workers</font></b> appears to be of higher importance to the Democrats, while <b><font color="red">abortions</font></b>, <b><font color="red">job accomplishments</font></b>, and <b><font color="red">criminal justice</font></b> are more often discussed by the Republicans. Some of these subjects represent quite controversial issues, where the Democrats and Republicans take different stands. The following are some broadly generalized opinions, and it should be noted that there are naturally many politicians within each party who have different and more nuanced positions on these issues.</p>
					<p>While Republicans prefer increasing <b><font color="blue">military</font></b> spending, and have a higher tendency to employ the <b><font color="blue">military</font></b> option, Democrats prefer lower increases in <b><font color="blue">military</font></b> spending, and are comparatively more reluctant to use <b><font color="blue">military</font></b> force. 
					<p>In general, Democrats support <b><font color="red">abortion</font></b> rights and want to keep elective criminal justice legal. Republicans, on the other hand, believe <b><font color="red">abortions</font></b> should not be legal.</p>
					<p>Whereas Democrats favor increase in the minimum wage to help <b><font color="blue">workers</font></b>, Republicans oppose raising the minimum wage because it would hurt businesses.</p>
				</div>
			</div>
        </div>
		<div class="row">
			<div class="column-large-hv">
				{% include graphs/graph.html %}
				<div class="col-lg-8 col-lg-offset-2">
					<p style="line-height:1"><font size="-0.5" color="dimgray">The graph shows the 20 politicians within the Democrats and Republicans with the highest number of 'pants-fire' and 'false' statements. By clicking on the node associated to each name, you can highlight the interactions with this speaker. Whenever the same color spans out in different directions, these are lies originating with the speaker. All other colors represent lies where the speaker is the target.</p></font>
				</div>
			</div>
			<div class="column-small">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>The main players of the game</h3>
					<p>We want to take a closer look at politicians with the highest number of pants-on-fire and false statements. The circle-shaped graph shows the relationship between them. Each arc represent a lie made by one speaker (the source) about another speaker (the target). The four main players are Barack Obama (Democrat), Donald Trump (Republican), Hillary Clinton (Democrat), and Mitt Romney (Republican). These are names we know well. Barack Obama, former President of the U.S, ran against Mitt Romney in the 2012 presidential election; Donald Trump, current President of the U.S., ran against Hillary Clinton in the 2012 presidential election.</p>
					<p>It's interesting to observe that the majority of Donald Trumps' lies is directed towards Hillary Clinton, his opposing candidate, and that there are more than twice as many lies going in this direction, than the other way around. However, it should be noted that the majority of Clinton's lies, although less in numbers, are also directed towards her opposing candidate, Trump. This is perhaps to be expected, as politicians are known to demonize their opponents, especially with upcoming elections. The same pattern is observable with regard to Mitt Romney; most of his lies are discussing Barack Obama. Obama's lies, however, are more evenly distributed, and compared to how many lies he's the target of, he hasn't really contributed with that many himself. It's natural that he's the subject of the most lies, as he was the sitting President for almost the entire time frame of the statements.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column-large">
				<img src="img/network_DR.png" title="Network: Democrat vs Republican" width="100%" />
				<div class="col-lg-8 col-lg-offset-2">
					<p style="line-height:1"><font size="-0.5" color="dimgray">The network at the top shows the lies between Democrats and Republicans. The blue network down to the left shows lies with the Democratic party, and the red network down to the right shows the lies within the Republican party.</p></font>
				</div>
			</div>
			<div class="column-small">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>Politics: the kindergarten for old people</h3>
					<p>To top up our comparison between Democrats and Republicans, we will look at the graph on the left. It shows the interactions, more specifically the lies, between (graph at the top) and inside both parties (graphs at the bottom). Even if it is somewhat predictable, it is striking is how many arrows are going between the Democrats and the Republicans while there is almost nothing happening inside of each party. This seems to suggest that politics is more about childish finger-pointing than meaningful and educated debates.</p>
				</div>
			</div>
		</div>
    </section>