    <!-- authors Section -->
    <section id="authors" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>References</h1>
				<p><a href="https://arxiv.org/pdf/1705.00648.pdf">“Liar, Liar Pants on Fire”: A New Benchmark Dataset for Fake News Detection</a><br>
				<a href="https://en.wikipedia.org/wiki/Fake_news#United_States">Wikipedia: Fake News - United States</a><br>
				<a href="https://en.wikipedia.org/wiki/Fake_news#Usage_of_the_term_by_Donald_Trump">Wikipedia: Fake News - Usage of the Term by Donald Trump</a><br>
				<a href="https://www.diffen.com/difference/Democrat_vs_Republican#ciBtnTxt">Diffen: Democrat vs Republican</a><br>
				<a href="https://www.diffen.com/difference/Donald-Trump-vs-Hillary-Clinton">Diffen: Donald Trump vs Hillary Clinton</a><br>
				<a href="https://www.diffen.com/difference/Barack_Obama_vs_Mitt_Romney">Diffen: Barack Obama vs Mitt Romney</a></p>
            </div>
        </div>
    </section>