 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Data Story
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
					<li>
                        <a class="page-scroll" href="#intro">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#context">Context</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#dvsr"><img src="img/D_logo.svg" title="Democrats" width="20px" /> & <img src="img/GOP_logo.svg" title="Republicans (Grand Old Party)" width="40px" /></a>
                    </li>
					<li>
                        <a class="page-scroll" href="#conclusion">Conclusion</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#authors">Authors</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>